<div class="max-w-sm md:max-w-none">
  <div class="relative">
    <a href="#">
      <img
        class="h-48 w-96 object-cover object-bottom"
        src="../images/jess-bailey-l3N9Q27zULw-unsplash.jpg"
        alt=""
      />
    </a>
  </div>
  <p class="text-sm font-bold">
    <span>workshop</span>
    <span> / </span>
    <span>3月3日</span>
    <span> </span>
    <span>葉っぱを使って動物を描こう</span>
  </p>
  <p class="font-bold">1000 yen</p>
  <p class="mt-2 text-sm font-bold">
    <span>予約状況</span>
    <span>残数</span>
    <span class="text-2xl">3</span>
  </p>
</div>
